.userInfo_cnt{
	background:#fff;
	.userInfo_top{
		background:url(./assets/flex/leftbar_bg.jpg) no-repeat;
		width:100%;
		background-size:100% 100%;
		height:5rem;
		color:#656464;
		margin-top: -1px;
		padding-left:0.44rem;
		box-sizing: border-box;
		position: relative;
		.login_head{
			margin-top:0.83rem;
			display:inline-block;
			width:116px
		}
		.login_name{
		    font-size: 0.44rem;
		    position: absolute;
		    bottom: 0;
		    height: 1.3rem;
		    line-height: 1.3rem;
		    background: rgba(0,0,0,0.5);
		    color: #fff;
		    width: 100%;
		    left: 0;
		    text-indent: 0.1rem;
		    overflow:hidden;
		    padding-left: 0.4rem;
    		box-sizing: border-box;
		    .name_show{
		    	max-width:65%;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    white-space: nowrap;
		    }
		    span{
		    	float:left;
		    }
		}
	}
	.userInfo_middle{
		border-bottom:solid 1px #c6cbd1;
		padding-bottom:0.3rem;
		.block{
			margin-top:0.3rem;
			background:#fff;
			cursor:pointer;
			font-size:0.44rem;
			color:#352d2d;
			.block_cell{
				padding:0.44rem;
				overflow:auto;
				.img_icon{
					width:0.56rem;
					height:0.56rem;
					float:left;
					margin-right:0.44rem;
					display:inline-block;
				}
				.img_icon1{
					background:url(./assets/flex/leftbar_icon_01_hover.png) no-repeat;
					background-size:100% 100%;
				}
				.img_icon2{
					background:url(./assets/flex/leftbar_icon_02_hover.png) no-repeat;
					background-size:100% 100%;
				}
				.text{
					float:left;
				}
			}
		}
		.block:focus{
			color:#656464;
			border:0;
			outline:0;
			background:url(./assets/flex/leftbar_icon_hover.png) no-repeat;
			background-size:cover;
		}
		.block1:focus .img_icon1{
			background-image:url(./assets/flex/leftbar_icon_01_hover.png);
		} 
		.block2:focus .img_icon2{
			background-image:url(./assets/flex/leftbar_icon_02_hover.png);
		}
		.block2{
			margin:0;
		}
	}
}
.about{
	background:#fff;
	padding:0 0 0 32px;
	.logo{
		width:140px;
		height:40px;
	}
	.about_cnt1{
		margin:0.5rem 0;
		color:#6d6d6d;
		font-size:0.4rem;
	}
	.about_cnt2{
		margin-bottom:0.4rem;
		color:#b6b7b7;
		font-size:0.35rem;
	}
}
.userInfo{
	.mask{
		position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    background: rgba(234, 237, 239, 0.9);
	}
	.userWrap{
		position: absolute;
	    width: 83%;
	    top: 0;
	    z-index: 2;
	    background: #fff;
	}
}